.Block {
  align-items: flex-start;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space--xxxl);
  width: 80%;
}

.Header {}

.DonutWrapper {
  position: relative;
  display: flex;
  justify-content: center;
}

.DonutBody {
  position: absolute;
  inset: 0;
  width: calc(300px / 1.75);
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.DonutTitle {}

.DonutValue {}

.Control {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
}

.ControlIcon {
  position: absolute;
  left: 0;
  top: 6px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  transition: transform var(--transition-default);
}

.Control::before {
  position: absolute;
  content: '';
  top: -8px;
  bottom: -8px;
  left: -12px;
  right: -12px;
  background-color: var(--bg-secondary);
  z-index: -1;
  opacity: 0;
  transition: opacity var(--transition-default);
}


.Control:hover p {
  color: var(--color-primary);
}

.Control:hover .ControlIcon {
  transform: scale(.875);
}

.Control:hover::before {
  opacity: 1;
}


@media screen and (max-width: 640px) {
  .Block {
    grid-template-columns: 1fr;
    width: 100%;
  }
}