.label {
	position: relative;
	width: 100%;
	height: 40px;
	display: block;
}

.input {
	width: 100%;
	height: 100%;
	border-radius: 2px;
	background-color: var(--bg-secondary);
	min-height: 40px;
	padding: 8px 6px;
}


.active {
	border-bottom: 1.5px solid var(--color-primary-50);
}

.close {
	position: absolute;
	display: flex;
	align-items: center;
	right: 8px;
	top: 0;
	bottom: 0;  
} 