.button {
  display: inline-flex;
  align-items: center;

  margin-top: 24px;
  margin-left: auto;
  opacity: 0;
  visibility: hidden;
}

.icon {
  margin-right: 8px;
}

.active {
  visibility: visible;
  opacity: 1;
}